#include <zephyr/dt-bindings/pinctrl/esp32c6-pinctrl.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {
	aliases {
		red-led = &led0;
		green-led = &led1;
		blue-led = &led2;
		btn-wps = &btn;
	};

	gpio_leds {
		compatible = "gpio-leds";

		led0: red {
			gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
			label = "Red led";
		};

		led1: green {
			gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
			label = "Green led";
		};

		led2: blue {
			gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
			label = "Blue led";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		debounce-interval-ms = <50>;

		btn: button {
			label = "WPS";
			gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
		};
	};

	chosen {
		zephyr,display = &st7789v_display;
	};

	mipi_dbi_display {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi2>;
		/* GPIO4 = DC, GPIO23 = RES */
		dc-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		st7789v_display: st7789v@1 {
			compatible = "sitronix,st7789v";
			mipi-max-frequency = <4000000>;
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
			mipi-cpol;
			mipi-cpha;
			reg = <1>;
			width = <240>;
			height = <280>;
			x-offset = <0>;
			/* (320 - 280) / 2 = 20 */
			y-offset = <20>;
			vcom = <0x19>;
			gctrl = <0x35>;
			vrhs = <0x12>;
			vdvs = <0x20>;
			mdac = <0x00>;
			gamma = <0x01>;
			colmod = <0x55>;
			lcm = <0x2c>;
			porch-param = [0c 0c 00 33 33];
			cmd2en-param = [5a 69 02 01];
			pwctrl1-param = [a4 a1];
			pvgam-param = [d0 04 0d 11 13 2b 3f 54 4c 18 0d 0b 1f 23];
			nvgam-param = [d0 04 0c 11 13 2c 3f 44 51 2f 1f 1f 20 23];
			ram-param = [00 f0];
			rgb-param = [cd 08 14];
		};
	};
};

&flash0 {
	partitions {
		storage_partition: partition@3b0000 {
			label = "storage";
			reg = <0x3B0000 DT_SIZE_K(192)>;
		};
	};
};

&i2c0 {
	status = "disabled";
};

&pinctrl {
	/delete-node/ spim2_default;

	spim2_default: spim2_default {
		/* GPIO6 = SCLK, GPIO7 = MOSI, GPIO11 = MISO */
		group1 {
			pinmux = <SPIM2_MISO_GPIO11>,
				 <SPIM2_MOSI_GPIO7>,
				 <SPIM2_SCLK_GPIO6>;
		};
	};
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	/* [0] GPIO8 = MFRC522 CS, [1] GPIO18 = OLED CS */
	cs-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>,
		   <&gpio0 18 GPIO_ACTIVE_LOW>;

	mfrc522: mfrc522@0 {
		compatible = "nxp,mfrc522";
		reg = <0>;
		spi-max-frequency = <5000000>;
		/* GPIO5 = RST */
		reset-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};
