#include <zephyr/dt-bindings/pinctrl/esp32-pinctrl.h>

/ {
	aliases {
		red-led = &led0;
		green-led = &led1;
		blue-led = &led2;
		btn-wps = &btn;
	};

	gpio_leds {
		compatible = "gpio-leds";

		led0: red {
			gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
			label = "Red led";
		};

		led1: green {
			gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
			label = "Green led";
		};

		led2: blue {
			gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
			label = "Blue led";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		debounce-interval-ms = <50>;

		btn: button {
			label = "WPS";
			gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
		};
	};
};

&flash0 {
	partitions {
		storage_partition: partition@3b0000 {
			label = "storage";
			reg = <0x3B0000 DT_SIZE_K(192)>;
		};
	};
};

&pinctrl {
	spim3_default: spim3_default {
		group1 {
			pinmux = <SPIM3_MISO_GPIO19>,
				 <SPIM3_MOSI_GPIO23>,
				 <SPIM3_SCLK_GPIO18>;
		};
	};
};

&spi3 {
	status = "okay";
	pinctrl-0 = <&spim3_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;

	mfrc522: mfrc522@0 {
		compatible = "nxp,mfrc522";
		reg = <0>;
		spi-max-frequency = <5000000>;
		reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

